sudo: required
language: java
install: true

services:
  - docker

addons:
  chrome: stable

jobs:
  include:
    - stage: minikube deploy and test (ADES only)
      if: branch = feature/EOEPCA-105
      dist: bionic
      language: minimal
      install:
        - sudo sh ./travis/setupMinikube.sh
      before_script:
        - sudo ./terraform/test/deployEOEPCA.sh
        - sh ./travis/setupRobot.sh
      script:
        - cd ./test/acceptance/Processing/ADES
        - robot .

      after_success:
        - echo '*** SUCCESS ***'

      after_failure:
        - echo '*** FAILED ***'
        - cat log.html
        - echo '*** END of LOG ***'

      deploy:
        - echo '*** DEPLOY ***'

      after_script:
        - echo '*** DONE ***'

    - stage: test
      if: branch = develop

      # Minikube installation taken from: https://github.com/LiliC/travis-minikube/blob/minikube-30-kube-1.12/.travis.yml
      # We need the systemd for the kubeadm and it's default from 16.04+
      dist: xenial

      before_script: sudo sh ./travis/setupMinikube.sh

      script: sudo ./terraform/test/deployEOEPCA.sh

      deploy:
        - provider: script
          skip_cleanup: true
          script: sudo sh ./travis/acceptanceTest.sh
          on:
            branch: develop

    - stage: deploy EOEPCA on network of resources
      if: branch = release

      dist: bionic

      before_script: sh ./travis/setupRobot.sh

      script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/staging/ && sh deployEOEPCA.sh'

      after_script: sh ./travis/acceptanceTest.sh

import:
  - docs/.travis.yml

notifications:
  slack: eoepca:Msk9hjQKAbwSYcVWiepenPim
  email:
    recipients:
      - a.person @acme.com
      - a.n.other@acme.com
    on_success: never # default: change
    on_failure: never # default: always
