sudo: required
language: java
install: true

services:
  - docker

jobs:
  include:
    - stage: test
      if: branch = develop and env(operation) = local

      # Minikube installation taken from: https://github.com/LiliC/travis-minikube/blob/minikube-30-kube-1.12/.travis.yml
      # We need the systemd for the kubeadm and it's default from 16.04+
      dist: xenial

      before_script: sudo sh travis/setupMinikube.sh

      script: cd terraform/test && terraform init -input=false

      deploy:
        - provider: script
          skip_cleanup: true
          script: sh ${TRAVIS_BUILD_DIR}/travis/test_template-svce.sh
          on:
            branch: develop

    - stage: deploy on network of resources
      if: branch = develop and env(operation) = deploy_nor

      dist: bionic
      before_script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/NoR/ && sh setupOpenstack.sh'
      script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/NoR/ && terraform apply -auto-approve -var-file=cluster.tfvars contrib/terraform/openstack'
      after_script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/NoR && sh setupKubernetes.sh'

    - stage: undeploy from network of resources
      if: branch = develop and env(operation) = undeploy_nor
      
      dist: bionic
      before_script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/NoR/ && sh setupOpenstack.sh'
      script: sh -c 'cd ${TRAVIS_BUILD_DIR}/terraform/NoR/inventory/cf2-kube/ && terraform destroy -var-file=cluster.tfvars -auto-approve contrib/terraform/openstack'
      after_script: echo "Undeployed openstack environment"
                

import:
  - docs/.travis.yml

notifications:
  slack: eoepca:Msk9hjQKAbwSYcVWiepenPim
  email:
    recipients:
      - a.person @acme.com
      - a.n.other@acme.com
    on_success: never # default: change
    on_failure: never # default: always
