@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: open sans;
}

body {
 background-repeat: no-repeat;
background-image: url(/oxauth/ext/resources/img/background.jpg);
  background-size: cover;
  background-color: black;
}

.brand-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

input[type="submit"],
button[type="submit"] {
    border: none;
    background: #035a8b;
}

input[type="submit"]:hover {
  color: lightgrey;
  background-color: #035a8b;
  outline: 1px solid black;
}

.btn-primary.focus, .btn-primary:focus {
  color: lightgrey;
  background-color: #035a8b;
  border: none;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="tel"], 
input[type="date"],
input[type="number"] {
  color: black;
  background-color: #E5E5E5;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="date"]:focus, 
input[type="number"]:focus {
  outline: 1px solid lightgrey;
}

.btn {
    padding: 0;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #035a8b;
}

.forgot-password-form {
  float: none;
  margin: 0 auto; 
  background-color: #FFFFFF; 
  margin-top: 7%; 
  padding: 40px;
}

@media (max-width: 991px) {
  .forgot-password-form {
    margin-top: 125px; 
  }
}

.form-control {
  box-shadow: none;
}

.form-control-label {
  color: #003E87;
  line-height: 3;
  font-size: 14px;
}

.form-control-feedback {
  color: dimgray;
  font-size: 15px;
  line-height: 51px;
}

.main-container .rf-p {
  background-color: transparent;
  border-style: none;
}

.main-container .form-control {
  height: 50px;
  margin-bottom: 5px;
}

.body {
  line-height: 12px;
}

.main-container .formColumn .row .prop {
  width: 70%;
}
      
.rf-p-b {
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
}
