{{ if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  labels:
    app: nfs-client-provisioner
  # replace with namespace where provisioner is deployed
  namespace: default
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: gcr.io/k8s-staging-sig-storage/nfs-subdir-external-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: {{ .Values.provisionerName }}
            - name: NFS_SERVER
              value: {{ .Values.server.address }}
            - name: NFS_PATH
              value: {{ .Values.server.path }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: {{ .Values.server.address }}
            path: {{ .Values.server.path }}{{ .Values.mountSubPath }}
{{ end }}