apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: proc-application-hub
  namespace: proc
spec:
  chart:
    spec:
      chart: application-hub
      version: 2.0.23
      sourceRef:
        kind: HelmRepository
        name: eoepca
        namespace: common
  values:
    ingress:
      enabled: true
      annotations: {}
      hosts:
        - host: applicationhub.develop.eoepca.org
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: applicationhub-tls
          hosts:
          - applicationhub.develop.eoepca.org
          
    jupyterhub:
      hub:

        
        existingSecret: application-hub-secrets
        extraEnv: 
            JUPYTERHUB_ENV: "dev"
            JUPYTERHUB_SINGLE_USER_IMAGE: "eoepca/pde-container:1.0.3"
            OAUTH_CALLBACK_URL: "https://jupyterhub.develop.eoepca.org/hub/oauth_callback"
            OAUTH2_USERDATA_URL: "https://auth.develop.eoepca.org/oxauth/restv1/userinfo"
            OAUTH2_TOKEN_URL: "https://auth.develop.eoepca.org/oxauth/restv1/token"
            OAUTH2_AUTHORIZE_URL: "https://auth.develop.eoepca.org/oxauth/restv1/authorize"
            OAUTH_LOGOUT_REDIRECT_URL: "https://auth.develop.eoepca.org/oxauth/restv1/end_session?post_logout_redirect_uri=https://jupyterhub.develop.eoepca.org"
            OAUTH2_USERNAME_KEY: "user_name"
            STORAGE_CLASS: "managed-nfs-storage"
            RESOURCE_MANAGER_WORKSPACE_PREFIX: "develop-user"

            JUPYTERHUB_CRYPT_KEY:
              valueFrom:
                secretKeyRef:
                  name: application-hub-secrets
                  key: JUPYTERHUB_CRYPT_KEY
    
            OAUTH_CLIENT_ID:
              valueFrom:
                secretKeyRef:
                  name: application-hub-secrets
                  key: OAUTH_CLIENT_ID
              
            OAUTH_CLIENT_SECRET:
              valueFrom:
                secretKeyRef:
                  name: application-hub-secrets
                  key: OAUTH_CLIENT_SECRET

        image:
          name: jupyterhub/k8s-hub
          tag: "2.0.0"
          pullPolicy:
          pullSecrets: []

        db:
          type: sqlite-pvc
          upgrade:
          pvc:
            annotations: {}
            selector: {}
            accessModes:
              - ReadWriteOnce
            storage: 1Gi
            subPath:
            storageClassName: managed-nfs-storage
      
      singleuser:
        image:
          name: jupyter/minimal-notebook
          tag: "2343e33dec46"
        profileList: 
        - display_name:  "Minimal environment"
          description: "To avoid too much bells and whistles: Python."
          default: "True"
        - display_name:  "EOEPCA profile"
          description: "Sample profile"
          kubespawner_override:
            cpu_limit": 4
            mem_limit": "8G"

      ingress:
        enabled: true
        annotations: 
          kubernetes.io/ingress.class: nginx
        hosts:
          - host: applicationhub.demo.eoepca.org
            paths: 
              - path: /
                pathType: ImplementationSpecific
        tls: []

      proxy: 
        service:
          type: ClusterIP

  interval: 1m0s