apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: proc-application-hub
  namespace: proc
spec:
  chart:
    spec:
      chart: application-hub
      version: 2.0.16
      sourceRef:
        kind: HelmRepository
        name: eoepca
        namespace: common
  values:
    jupyterhub:
      hub:

        args:
          - "ls /usr/local/etc/applicationhub/ &&"
          - "jupyterhub"
          - "--config"
          - "/usr/local/etc/applicationhub/jupyterhub_config.py"
          - "--debug"
          - "--upgrade-db"

        extraVolumes:
          - name: applicationhub-jupyter-config
            configMap:
              name: applicationhub-jupyter-config
              defaultMode: 0744
        extraVolumeMounts:
          - name: applicationhub-jupyter-config
            mountPath: /usr/local/etc/applicationhub/jupyterhub_config.py
            subPath: jupyterhub_config.py

        image:
          name: jupyterhub/k8s-hub
          tag: "2.0.0"
          pullPolicy:
          pullSecrets: []

        db:
          type: sqlite-pvc
          upgrade:
          pvc:
            annotations: {}
            selector: {}
            accessModes:
              - ReadWriteOnce
            storage: 1Gi
            subPath:
            storageClassName: managed-nfs-storage
      
      singleuser:
        image:
          name: jupyter/minimal-notebook
          tag: "2343e33dec46"
        profileList: 
        - display_name:  "Minimal environment"
          description: "To avoid too much bells and whistles: Python."
          default: "True"
        - display_name:  "EOEPCA profile"
          description: "Sample profile"
          kubespawner_override:
            cpu_limit": 4
            mem_limit": "8G"

      ingress:
        enabled: true
        annotations: 
          kubernetes.io/ingress.class: nginx
        hosts:
          - host: applicationhub.demo.eoepca.org
            paths: 
              - path: /
                pathType: ImplementationSpecific
        tls: []

      proxy: 
        service:
          type: ClusterIP

  interval: 1m0s