@import "asciidoctor.css";

/* Centre align figure captions */
.imageblock.text-center>.title {
    text-align: center;
}

/* Scale font size of CodeRay [source] elements, which seem a bit big */
pre.CodeRay code {
    font-size: 0.9em;
}

/* Bold font for the numbers in an ordered list */
div.strong > ol {
    font-weight: bold;
}

/*
 * EXAMPLE for custom code-block scaling...
 * Use an asciidoc source element like this '[source.src-scale05,python]' and then apply a custom style like below.
 * This basically adds the custom CSS class 'src-scale05' to the root of the DOM for the code block, which we can then exploit for styling.
 */
 .src-scale05 pre.CodeRay code {
    font-size: 0.5em;
}
