worker_processes  1;  
    #error_log /var/log/nginx/error.log warn;

    worker_rlimit_nofile 8192;
	
    events {
      worker_connections  1024; 
    }
	
    http {
      upstream template-service {
          server template-service:8080;
      }
      server {
          listen 80;
          location / {
              proxy_pass http://template-service;
          }
      }
    }